
body{
    font-family: 'Courier New', sans-serif;
    width: 75%;
    margin: auto;
    display: block;
}
h2{
    cursor: pointer;
    transition: 1.0s;
}
h3{
    font-style: italic;
}
h2:hover{
    transform: scale(1.1);
}
legend{
    font-weight: bold; 
    color: #04174a;
    cursor: pointer;
    transition: 1.0s;
}
select{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.pilihan{
    cursor: pointer;
}
legend:hover{
    transform: scale(1.1);
}
.judul:hover{
    background-color: #c09494;
}
.data:hover{
    background-color: #4b94e7;
}
select:hover{
    background-color: #71a7f3;
}
input:hover{
    background-color: #f3fbf2;
}
textarea:hover{
    background-color: #f3fbf2;
}
option:hover{
    background-color: #f3fbf2;
}
.kirim{
    background-color: rgb(164, 23, 23);
}
button{
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    background-color: #bd5f17;
    color: white;
    padding:5px 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 170px;
    margin-bottom: 60px;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.1);
}
.tombol{
    text-align: left;
}