*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #0f4068;
}
#header{
    background: #0c60a4;
    padding: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}
#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.logo{
    font-weight: 700;
    font-size: 20px;
    color: rgb(3, 23, 23);
    text-decoration: none;
}
h2{
    font-size: 32px;
}
.container_row{
    padding: 100px 15px;
}
img{
    width: 3cm;
    position: center;  
}
#Home {
    background: #359ef4;
}
#About {
    background: #197fd2;
}
#HOBY {
    background: #0f4068;
}
#contact{
    background: #02243f;
}
.main_menu{
background-color: rgb(3, 23, 23);;
}
.main_menu ul{
        list-style:none;
        margin: 0;
        padding: 0;
}
.main_menu ul li{
    font-size: 18px;
    display: inline-block;
    margin: 0 0 0 10px ;
}
.main_menu ul li a{
    text-decoration: none;
    color: rgb(94, 89, 236);
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid transparent;
    transition:all 0.3s ease-in-out;
}
.main_menu ul li:hover a,
.main_menu ul li a.active
{
    border-bottom: 2px solid rgb(182, 99, 99);
    color: rgb(166, 134, 197);
}


